.logo {
    height: 60px;
    padding-left: 5px;
}

.header {
    display: flex;
    box-shadow: 0 3px 2px -2px rgb(184, 179, 179);
}

.search-bar {
    padding: 10px;
    margin: 5px;
    flex: 1;
    display: flex;
}

.filter-option {
    border-style: solid;
    justify-content: center;
    align-items: center;
    border-color: rgb(192, 191, 191);
    display: flex;
    background-color: white;
    border-width: 1px;
    border-radius: 4px;
    flex: 1;
    margin-left: 3px;
    font-weight: 30;
    color: rgb(43, 41, 41);
    font-size: 14px;
    font-family: "AirbnbRegular"
}



