.logo {
    height: 60px;
    padding-left: 5px;
}

.header {
    display: flex;
    box-shadow: 0 3px 2px -2px rgb(184, 179, 179);
}

.search-bar {
    padding: 10px;
    margin: 5px;
    flex: 1;
    display: flex;
}

.filter-option {
    border-style: solid;
    border-color: black;
    display: flex;
    flex: 1;
}

.MuiFormControl-root {
    display: flex;
    flex:1
}

