.property-cards-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(157px, 1fr));
    padding: 15px;
    column-gap: 15px;
    place-items: center;
    padding-top: 19px;
}

.property-card {
    width: 120px;
    height: 180px;
    padding: 18px;
    padding-bottom: 60px;
    border-radius: 25px;
    position: relative;
    overflow: hidden;
} 

.property-card-image-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 60%;
    border-radius: 25px;
    overflow: hidden;
}
 
.property-card-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; 
    object-fit: cover;
    transform: scale(1.2);
    transform-origin: center;
    border-radius: 25px;
} 

.property-card-info { 
    position: absolute;
    top: 140px;
    margin-left: -10px;
    margin-top: 30px;
    font-size: 12.5px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(86, 85, 85);
}