.property-cards-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(157px, 1fr));
    padding: 15px;
    column-gap: 15px;
    place-items: center;
    padding-top: 19px;
}

.property-card {
    width: 120px;
    height: 180px;
    padding: 18px;
    padding-bottom: 60px;
    border-radius: 25px;
    position: relative;
    overflow: hidden;
} 

.property-card-image-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 60%;
    border-radius: 25px;
    overflow: hidden;
}
 
.property-card-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; 
    object-fit: cover;
    transform: scale(1.2);
    transform-origin: center;
    border-radius: 25px;
} 

.property-card-info { 
    position: absolute;
    top: 140px;
    margin-left: -10px;
    margin-top: 22px;
    font-size: 12.5px;
    color: rgb(86, 85, 85);
}

.property-card-info > p {
    margin: 3px;
}

.empty-heart{
  width: 20px;
  height: 20px;
  margin-top: 0.5px;
  margin-right: 1.5px;
}

.num-of-faves {
    font-size: 15px;
}

.favourite-button {
    background: rgba(128, 128, 128, 0.747);
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 3;
    bottom: 4px;
    right: 10px;
    padding: 5px;       
    border-radius: 30px;
    border: none;
    gap: 2px;
    min-width: 36px;         
    height: 36px;
}