.single-property-images {
    border-style: solid;
    border-color: red;
    height: 40vh;
    width: 95vw;
    position: relative;
}

.property-name-card {
    border-style: solid;
    border-color: blue;
    display: block;
 
}

.embla__viewport {
  overflow: hidden;
  width: 100%;
  height: 30vh;
}

.embla__container {
  display: flex;
  touch-action: pan-y pinch-zoom;
  height: 100%;
}

.embla__slide {
  flex: 0 0 100%;
  min-width: 0;
  height: 100%;
}

.single-property-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

