.single-property-images {
    border-style: solid;
    border-color: red;
    height: 40vh;
    width: 95vw;
    position: relative;
}

.property-name-card {
    border-style: solid;
    border-color: blue;
    display: block;
 
}

.embla__viewport {
    overflow: hidden;
    width: 100%;
    height: 40vh;
    border-radius: 25px;
}

.embla__container {
    display: flex;
    touch-action: pan-y pinch-zoom;
    height: 100%;
}

.embla__slide {
    flex: 0 0 100%;
    min-width: 0;
    height: 100%;
}

.single-property-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.embla__prev, .embla__next {
    border-radius: 20px;
    font-weight: bold;
    color: white;
    background-color: rgba(0, 0, 0, 0.65);
    border-style: none;
    height: 30px;
    width: 30px;
    position: absolute;
    top: 45%;
}

.embla__prev {
    margin-left: 10px;
}

.embla__next {
    margin-right: 10px;
    right: 0%;
}

.embla {
    position: relative;
}