.single-property-details {
    border-radius: 25px;
    border-style: solid;
    border-color: white;
    position: relative;
    text-align: center;
    padding-left: 15px;
    padding-right: 15px;
    box-shadow: 4px -4px 8px rgba(92, 91, 91, 0.45);
    margin-top: 13px;
}

.single-property-details__title {
    font-size: 20px;
    font-weight: bolder;
    margin: 19px 0 9px;
}

.single-property-details__description {
    color: rgb(75, 74, 74);
}

.single-property-details__location {
    margin: 9px;
}

.single-property-details__description-text {
    font-family: "AirbnbLight";
    font-size: 13px;
}

.embla__viewport {
    overflow: hidden;
    width: 100%;
    height: 40vh;
    border-radius: 25px;
}

.embla__container {
    display: flex;
    touch-action: pan-y pinch-zoom;
    height: 100%;
}

.embla__slide {
    flex: 0 0 100%;
    min-width: 0;
    height: 100%;
}

.embla__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.embla__prev, .embla__next {
    border-radius: 20px;
    font-weight: bold;
    color: white;
    background-color: rgba(0, 0, 0, 0.65);
    border-style: none;
    height: 30px;
    width: 30px;
    position: absolute;
    top: 45%;
}

.embla__prev {
    margin-left: 10px;
}

.embla__next {
    margin-right: 10px;
    right: 0%;
}

.embla {
    position: relative;
}

.single-property-details__host {
    border: 5px rgb(209, 208, 208);
    border-style: solid none;
    border-width: 1px;
    padding: 3px;
    display: flex;
    margin-bottom: 19px;
}

.single-property-details__host-avatar {
    clip-path: circle();
    height: 50px;
    margin-left: 10px;
}

.single-property-details__host-name {
    margin-left: 20px;
    font-weight: bold;
    color: rgb(54, 54, 54);
}