.filter-menu-modal {
    color: red;
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;  
    width: 80vw;     
    background: white;
    box-shadow: -4px 0 20px rgba(0,0,0,0.3);
    overflow: scroll;
}
 
.property-type-filter-container {
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.property-type-option-selector {
    height: 40px;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid rgb(192, 187, 187);

}