.filter-menu-modal {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;  
    width: 80vw;     
    background: white;
    box-shadow: -4px 0 20px rgba(0,0,0,0.3);
    overflow: scroll;
}

.close-modal-button {
    margin: 10px;
}

.apply-filters-button {
    position: sticky;                    
    left: 50%;                
    transform: translateX(-3%);
    width: 90%;
    height: 25px;
    margin: 10px;
}
 
.property-type-filter-container {
    padding: 15px;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.property-type-filter-container > p {
    color: rgb(44, 44, 50);
    font-weight: bold;
    font-family: Helvetica;
}

.property-type-option-selector {
    height: 40px;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid rgb(192, 187, 187);
    border-image: linear-gradient(to right, #cdcaca, #a19e9e, #cdcaca) 1;
    text-align: left;

}

.price-range-slider-container {
    margin: 10px;
    justify-items: center;
}