.logo {
    height: 60px;
    padding-left: 5px;
}

.header {
    border-style: solid;
    border-color: black;
    display: flex;
}

.search-bar {
    border-style: solid;
    border-color: black;
    border-radius: 30px;
    padding: 10px;
    margin: 5px;
    flex: 1;
    display: flex;
}

.filter-option {
    border-style: solid;
    border-color: black;
    border-radius: 30px;
    display: flex;
    flex: 1;
}

.filter-menu-modal {
    color: red;
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;  
    width: 80vw;     
    background: white;
    box-shadow: -4px 0 20px rgba(0,0,0,0.3);
}