.property-cards-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
    padding: 20px;
    column-gap: 17px;
    row-gap: 17px;
    place-items: center;
}


.property-card {
    border-color: purple;
    border-style: solid;
    width: 100px;
    height: 160px;
    padding: 20px;
    border-radius: 35px;
}