.property-cards-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 20px;
    row-gap: 20px;
    place-items: center;
}


.property-card {
    border-color: purple;
    border-style: solid;
    width: 150px;
    height: 200px;
    padding: 20px;
    border-radius: 35px;
}