.close-button {
    display: flex;
    height: 35px;
    width: 40px;
    justify-content: center;
    align-items: center;
    background: transparent;
    border-style: none;
    z-index: 3;
    position: absolute;
}

.close-icon {
    height: 30px;
}