@font-face {
  font-family: "AirbnbRegular";
  src: local("AirbnbRegular"),
    url("./fonts/AirbnbCereal_W_Bk.otf") format("opentype");
}

@font-face {
  font-family: "AirbnbLight";
  src: local("AirbnbLight"),
    url("./fonts/AirbnbCereal_W_Lt.otf") format("opentype");
}

@font-face {
  font-family: "AirbnbMed";
  src: local("AirbnbMed"),
    url("./fonts/AirbnbCereal_W_Md.otf") format("opentype");
}

body { 
    font-family: "AirbnbRegular";
}