.filter-menu-modal {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;  
    width: 80vw;     
    background: white;
    box-shadow: -4px 0 20px rgba(0,0,0,0.3);
    overflow: scroll;
}

@media (min-width: 600px) {
    .filter-menu-modal {
        width: 50vw;
    }
}

@media (min-width: 1000px) {
    .filter-menu-modal {
        width: 30vw;
    }
}

.close-modal-button {
    margin: 10px;
}

.apply-filters-button {
    width: 93%;
    height: 25px;
    margin: 10px;
}
 
.property-type-filter-container {
    padding: 15px;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.property-type-filter-container > p, 
.price-range-slider-container > p {
    color: rgb(44, 44, 50);
    font-weight: bold;
    margin-top: 0px;
}

.property-type-option-selector.selected {
    font-weight: bold;
}

.price-range-slider-container {
    margin-top: 20px;
    justify-items: center;
    box-shadow: 0 2px 4px rgba(0,0,0,0.05);
}

.tick {
    height: 15px;
    float: right;
    padding-right: 10px;
}

.MuiSlider-root {
    margin-bottom: 25px;
}

.MuiSlider-track, .MuiSlider-thumb {
    color: #FF5A5F;
}

.MuiSlider-valueLabelCircle {
    background-color: transparent;
}

.MuiSlider-valueLabelLabel {
    color: black;
}

.MuiSlider-valueLabel.MuiSlider-valueLabelOpen {
    background-color: transparent;
    margin-top: 7px;
}

.property-type-option-selector {
    height: 35px;
    background-color: transparent;
    border-style: solid; 
    border-color: rgb(158, 184, 214);
    text-align: left;   
    border-radius: 20px;
    margin-bottom: 10px;
    padding: 9px;
    border-width: 1.5px;
}

.apply-filters-button {
    height: 35px;
    background-color: transparent;
    border-style: solid; 
    border-color: #FF5A5F;  
    border-radius: 20px;
    margin-top: -5px;
    border-width: 1.5px;
}

.close-modal-button {
    display: flex;
    height: 35px;
    width: 40px;
    justify-content: center;
    align-items: center;
    background: transparent;
    border-style: none;
    
}

.close-icon {
    height: 30px;
}